figures/*/*pdf
RmdFiles/VennDiagram*log
figures/*/*ai
RmdFiles/02e_GO_MWU/*tab
RmdFiles/02e_GO_MWU/*pdf
RmdFiles/02e_GO_MWU/*obo
RmdFiles/02e_GO_MWU/*goAnnotations.tab
figures/*.ai
data/04_kallistoquant.tar
scripts/VennDiagram2017-11-15_22-42-03.log
scripts/VennDiagram*
data/.DS_Store
.DS_Store
data/GSE100225_IntegrativeWT2015/*

.Rproj.user
scripts/*_cache
