figures/*/*pdf
RmdFiles/VennDiagram*log
figures/*/*ai
RmdFiles/02e_GO_MWU/*tab
RmdFiles/02e_GO_MWU/*pdf
RmdFiles/02e_GO_MWU/*obo
RmdFiles/02e_GO_MWU/*goAnnotations.tab
figures/*.ai
data/04_kallistoquant.tar
